* {
    font: "mono 12";
    text-color: #f3eafe;
    background-color: transparent;
}

/* WINDOW */
window {
    width: 640;
    height: 520;
    border: 3;
    border-color: #f595ff;
    border-radius: 14;
    background-color: #070814;
}

mainbox {
    background-color: #070814;
    border-radius: 14;
    padding: 22;
}

/* INPUT */
inputbar {
    children: [prompt, entry];
    background-color: #101424;
    border-radius: 10;
    padding: 10;
    border: 2;
    border-color: #e66fff;
    margin: 0 0 18 0;
}

prompt {
    padding: 6 12;
    text-color: #e66fff;
    margin: 0 10 0 0;
    font: "mono bold 13";
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6;
    text-color: #f3eafe;
    background-color: transparent;
    placeholder-color: #9a95b7;
}

/* LIST */
listview {
    columns: 1;
    lines: 8;
    spacing: 4;
    padding: 6 0 0 0;
    background-color: transparent;
}

element {
    padding: 9 14;
    border-radius: 9;
    text-color: #f3eafe;
}

element-icon {
    size: 26;
    margin: 0 10 0 0;
}

element selected {
    background-color: #e66fff;
    border: 2;
    border-color: #7f8dff;
    text-color: #05060b;
}

element-text selected {
    text-color: #05060b;
    font: "mono medium 12";
}

/* MODE SWITCHER */
mode-switcher {
    spacing: 0;
    background-color: #101424;
    border-radius: 10;
    margin: 18 0 0 0;
    padding: 4;
}

button {
    padding: 9;
    text-color: #9a95b7;
    border-radius: 7;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

button selected {
    background-color: #7f8dff;
    text-color: #05060b;
    font: "mono bold 12";
}

/* MESSAGE */
message {
    background-color: #101424;
    border-radius: 9;
    border: 2;
    border-color: #7f8dff;
    padding: 10;
    margin: 0 0 10 0;
}

textbox {
    padding: 6;
    text-color: #f3eafe;
}
